#document-list-container ul {
    list-style-type: none;
    padding: 0;
}

#document-list-container li {
    margin-bottom: 10px;
}

#document-list-container a {
  overflow-y: auto;
    max-height: 600px;
}

#document-list-container a:hover {
    text-decoration: underline;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#document-list-container {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 800px;
    margin-top: 10px;
}

#document-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#document-list-container ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#document-list-container ul li:hover {
    background-color: #ececec;
}

#document-list-container ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

#document-list-container ul li a:hover {
    color: #000;
}

header {
    background-color: #333; /* Dark background */
    color: white; /* Light text */
    padding: 10px 15px; /* Padding around the content */
    text-align: center; /* Center align the text */
}